<h3>Não-vendidos: {{quantidadeVeiculosNaoVendidos}}</h3>

<div #divErro class="alert alert-danger" [hidden]="!algumErro">
  {{mensagemDeErro}}
  <p><a href='#' (click)="(divErro.hidden = true)">fechar</a></p>
</div>

<div #divInfo class="alert alert-info" [hidden]="!exibirInfo">
  {{mensagemDeExclusao}}
  <p><a href='#' (click)="(divInfo.hidden = true)">fechar</a></p>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Veículo</th>
    <th scope="col">Marca</th>
    <th scope="col">Ano</th>
    <th scope="col">Descrição</th>
    <th scope="col">Vendido</th>
    <th scope="col">Criado em</th>
    <th scope="col">Atualizado em</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of veiculos; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ v.veiculo }}</td>
    <td>{{ v.marca }}</td>
    <td>{{ v.ano }}</td>
    <td>{{ v.descricao }}</td>
    <td>{{ v.vendido }}</td>
    <td>{{ v.created }}</td>
    <td>{{ v.updated }}</td>
    <td><a href='#' (click)="excluirVeiculo(v)">excluir</a></td>
  </tr>
  </tbody>
</table>
