<h2>Veículos</h2>

<h3>Não-vendidos</3><small>{{quantidadeVeiculosNaoVendidos}}</small>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Veículo</th>
    <th scope="col">Marca</th>
    <th scope="col">Ano</th>
    <th scope="col">Descrição</th>
    <th scope="col">Vendido</th>
    <th scope="col">Criado em</th>
    <th scope="col">Atualizado em</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of veiculos; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ v.veiculo }}</td>
    <td>{{ v.marca }}</td>
    <td>{{ v.ano }}</td>
    <td>{{ v.descricao }}</td>
    <td>{{ v.vendido }}</td>
    <td>{{ v.created }}</td>
    <td>{{ v.updated }}</td>
  </tr>
  </tbody>
</table>
